/* ===== Services&Modal BEGIN ===== */
.services__container {
  /* border: 1px solid red;  */
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services__content {
  border: 1px solid var(--border-black-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  height: 420px;
  margin: 1rem;
  position: relative;
  background: var(--second-inner-bg);
  padding: 1.5rem;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  
}

.services_img_content {
  /* border: 1px solid red; */

  margin-bottom: 1rem;
  width: 245px;
  height: 245px;
  border-top-right-radius: 50px;
  overflow: hidden;
}

.services_img_content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services__icon {
  border: 1px solid red;
  display: block;
  font-size: var(--subtitle-1-2rem);
  color: var(--skin-color);
  margin-bottom: 1rem;
}

.services__button {
  display: flex;
  color: var(--skin-color);
  font-size: var(--subtitle-1-2rem);
  align-items: center;
  column-gap: 0.5rem;
  margin-top: 1.2rem;
  cursor: pointer;
}

.services__button-icon {
  transition: .3s;
}

.services__button:hover .services__button-icon {
  transform: translateX(1rem);
}

.services__title {
  color: var(--text-black-900);
  font-size: 1.5rem;
}

/* ===== Services Modal BEGIN ===== */
.services__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.services__modal-content {
  border: 1px solid wheat;
  width: 500px;
  position: relative;
  background-color: skyblue;
  padding: 3.5rem 2.5rem 2.5rem;
  border-radius: 0.5rem;
}

.services__modal-close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--skin-color);
  cursor: pointer;
}

.services__modal-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem ;
}

.services__modal-description {
  font-size: 1.2rem;
  padding: 0 .5rem;
  margin-bottom: 1.2rem;
}

.services__modal-services {
  row-gap: 1.2rem;
}

.services__modal-service {
  display: flex;
  align-items: center;
  column-gap: .7rem;
}

.services__modal-icon {
  color: var(--skin-color);
  font-size: 1.1rem;
}

/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}
/* ===== Services&Modal END ===== */